{% extends "template.html" %}
{% block content %}
    <h1 id="list-all-network-address-specific-peers">List all network address specific peers</h1>
    <p>Get and list all peers from a specific network address.</p>
    <ul>
    <li><strong>URL</strong> : <code>/netaddr/&lt;int:id&gt;/peer</code></li>
    <li><strong>Method</strong> : <code>GET</code></li>
    <li><strong>Auth</strong> : <code>x-access-token: &lt;jwt&gt;</code></li>
    </ul>
    <h2 id="example-call">Example Call</h2>
    <p>In this example all peers from a specific network addresses will be fetched. In <code>x-access-token: &lt;jwt&gt;</code>, <code>&lt;jwt&gt;</code> is replaced with a JWT acquired from the <code>/token</code> endpoint.</p>
    <div class="sourceCode" id="cb1"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="ex">curl</span> <span class="at">-X</span> GET <span class="at">-H</span> <span class="st">&quot;x-access-token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwiZXhwIjoxNjE2ODQ2MTk5LjY2OTg4MTZ9.CMUrx135QNlUH0NsKO8rXg724dcQjhHPuPyptBwxP4U&quot;</span> http://wgmeshapi/api/netaddr/1/peer</span></code></pre></div>
    <h2 id="success-response">Success Response</h2>
    <ul>
    <li><strong>Code</strong> : <code>200 OK</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb2"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;1&quot;</span><span class="fu">:</span> <span class="fu">{</span></span>
    <span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;user_id&quot;</span><span class="fu">:</span> <span class="dv">2</span><span class="fu">,</span></span>
    <span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;name&quot;</span><span class="fu">:</span> <span class="st">&quot;Netaddr1Peer1&quot;</span><span class="fu">,</span></span>
    <span id="cb2-5"><a href="#cb2-5" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;address&quot;</span><span class="fu">:</span> <span class="st">&quot;10.1.0.1/16&quot;</span><span class="fu">,</span></span>
    <span id="cb2-6"><a href="#cb2-6" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;endpoint&quot;</span><span class="fu">:</span> <span class="st">&quot;192.168.0.100:58120&quot;</span><span class="fu">,</span></span>
    <span id="cb2-7"><a href="#cb2-7" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;pubkey&quot;</span><span class="fu">:</span> <span class="st">&quot;ejnBYSmh6UNWVF/Ct/+Ju/SxiaioBdUGBHBzlYMwpyU=&quot;</span></span>
    <span id="cb2-8"><a href="#cb2-8" aria-hidden="true" tabindex="-1"></a>    <span class="fu">},</span></span>
    <span id="cb2-9"><a href="#cb2-9" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;2&quot;</span><span class="fu">:</span> <span class="fu">{</span></span>
    <span id="cb2-10"><a href="#cb2-10" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;user_id&quot;</span><span class="fu">:</span> <span class="dv">3</span><span class="fu">,</span></span>
    <span id="cb2-11"><a href="#cb2-11" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;name&quot;</span><span class="fu">:</span> <span class="st">&quot;Netaddr1Peer2&quot;</span><span class="fu">,</span></span>
    <span id="cb2-12"><a href="#cb2-12" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;address&quot;</span><span class="fu">:</span> <span class="st">&quot;10.1.0.2/16&quot;</span><span class="fu">,</span></span>
    <span id="cb2-13"><a href="#cb2-13" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;endpoint&quot;</span><span class="fu">:</span> <span class="st">&quot;192.168.0.101:58120&quot;</span><span class="fu">,</span></span>
    <span id="cb2-14"><a href="#cb2-14" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;pubkey&quot;</span><span class="fu">:</span> <span class="st">&quot;rleF/wK92zGAa0FeAhOeUPDVT1wqeUia/Vz6Df1BkmE=&quot;</span></span>
    <span id="cb2-15"><a href="#cb2-15" aria-hidden="true" tabindex="-1"></a>    <span class="fu">},</span></span>
    <span id="cb2-16"><a href="#cb2-16" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;3&quot;</span><span class="fu">:</span> <span class="fu">{</span></span>
    <span id="cb2-17"><a href="#cb2-17" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;user_id&quot;</span><span class="fu">:</span> <span class="dv">4</span><span class="fu">,</span></span>
    <span id="cb2-18"><a href="#cb2-18" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;name&quot;</span><span class="fu">:</span> <span class="st">&quot;Netaddr1Peer3&quot;</span><span class="fu">,</span></span>
    <span id="cb2-19"><a href="#cb2-19" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;address&quot;</span><span class="fu">:</span> <span class="st">&quot;10.1.0.3/16&quot;</span><span class="fu">,</span></span>
    <span id="cb2-20"><a href="#cb2-20" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;endpoint&quot;</span><span class="fu">:</span> <span class="st">&quot;192.168.0.102:58120&quot;</span><span class="fu">,</span></span>
    <span id="cb2-21"><a href="#cb2-21" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;pubkey&quot;</span><span class="fu">:</span> <span class="st">&quot;yGP4VpAIAH2yigxqTGPsdVvDWvcKE6nRU+iTm57gGkI=&quot;</span></span>
    <span id="cb2-22"><a href="#cb2-22" aria-hidden="true" tabindex="-1"></a>    <span class="fu">}</span></span>
    <span id="cb2-23"><a href="#cb2-23" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
    <h2 id="error-response">Error Response</h2>
    <ul>
    <li><strong>Code</strong> : <code>404 NOT FOUND</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb3"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;message&quot;</span><span class="fu">:</span> <span class="st">&quot;The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.&quot;</span></span>
    <span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
    <ul>
    <li><strong>Code</strong> : <code>401 UNAUTHORIZED</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb4"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;message&quot;</span><span class="fu">:</span> <span class="st">&quot;Token is missing&quot;</span></span>
    <span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
    <ul>
    <li><strong>Code:</strong> : <code>401 UNAUTHORIZED</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb5"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;message&quot;</span><span class="fu">:</span> <span class="st">&quot;Token is invalid&quot;</span></span>
    <span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
{% endblock content %}
