{% extends "template.html" %}
{% block content %}
    <h1 id="create-a-user">Create a user</h1>
    <p>Create a new user, <strong>admin only</strong>.</p>
    <ul>
    <li><strong>URL</strong> : <code>/user</code></li>
    <li><strong>Method</strong> : <code>POST</code></li>
    <li><strong>Auth</strong> : <code>x-access-token: &lt;jwt&gt;</code></li>
    <li><strong>Content-Type</strong> : application/x-www-form-urlencoded</li>
    <li><strong>Data constraints</strong> :</li>
    </ul>
    <pre><code>username=&lt;alphanumeric&gt;&amp;password=&lt;alphanumeric&gt;</code></pre>
    <ul>
    <li><strong>Data example</strong></li>
    </ul>
    <pre><code>username=MyCoolUsername&amp;password=MyCoolPassword</code></pre>
    <h2 id="example-call">Example Call</h2>
    <p>In this example a new user is created by the admin account. In this example the JWT belongs to the admin user. In <code>x-access-token: &lt;jwt&gt;</code>, <code>&lt;jwt&gt;</code> is replaced with a JWT acquired from the <code>/token</code> endpoint.</p>
    <div class="sourceCode" id="cb3"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="ex">curl</span> <span class="at">-X</span> POST <span class="at">-d</span> <span class="st">&quot;username=MyCoolUsername&quot;</span> <span class="at">-d</span> <span class="st">&quot;password=MyCoolPassword&quot;</span> <span class="at">-H</span> <span class="st">&quot;x-access-token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwiZXhwIjoxNjE2ODQ2MTk5LjY2OTg4MTZ9.CMUrx135QNlUH0NsKO8rXg724dcQjhHPuPyptBwxP4U&quot;</span> http://wgmeshapi/api/user</span></code></pre></div>
    <h2 id="success-response">Success Response</h2>
    <ul>
    <li><strong>Code</strong> : <code>201 CREATED</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb4"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;id&quot;</span><span class="fu">:</span> <span class="dv">2</span><span class="fu">,</span></span>
    <span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;username&quot;</span><span class="fu">:</span> <span class="st">&quot;MyCoolUsername&quot;</span><span class="fu">,</span></span>
    <span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;admin&quot;</span><span class="fu">:</span> <span class="kw">false</span></span>
    <span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
    <h2 id="error-response">Error Response</h2>
    <ul>
    <li><strong>Code</strong> : <code>400 BAD REQUEST</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb5"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;message&quot;</span><span class="fu">:</span> <span class="fu">{</span></span>
    <span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;username&quot;</span><span class="fu">:</span> <span class="st">&quot;Username is required&quot;</span></span>
    <span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a>    <span class="fu">}</span></span>
    <span id="cb5-5"><a href="#cb5-5" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
    <ul>
    <li><strong>Code</strong> : <code>400 BAD REQUEST</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb6"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;message&quot;</span><span class="fu">:</span> <span class="fu">{</span></span>
    <span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a>        <span class="dt">&quot;password&quot;</span><span class="fu">:</span> <span class="st">&quot;Password is required&quot;</span></span>
    <span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a>    <span class="fu">}</span></span>
    <span id="cb6-5"><a href="#cb6-5" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
    <ul>
    <li><strong>Code</strong> : <code>500 INTERNAL SERVER ERROR</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb7"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb7-2"><a href="#cb7-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;message&quot;</span><span class="fu">:</span> <span class="st">&quot;The action could not be successfully performed. This could be due to unique constraints in the database, or the database not being available.&quot;</span></span>
    <span id="cb7-3"><a href="#cb7-3" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
    <ul>
    <li><strong>Code</strong> : <code>401 UNAUTHORIZED</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb8"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb8-1"><a href="#cb8-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb8-2"><a href="#cb8-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;message&quot;</span><span class="fu">:</span> <span class="st">&quot;Token is missing&quot;</span></span>
    <span id="cb8-3"><a href="#cb8-3" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
    <ul>
    <li><strong>Code:</strong> : <code>401 UNAUTHORIZED</code></li>
    <li><strong>Content-Type</strong> : <code>application/json</code></li>
    <li><strong>Content</strong> :</li>
    </ul>
    <div class="sourceCode" id="cb9"><pre class="sourceCode json"><code class="sourceCode json"><span id="cb9-1"><a href="#cb9-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
    <span id="cb9-2"><a href="#cb9-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">&quot;message&quot;</span><span class="fu">:</span> <span class="st">&quot;Token is invalid&quot;</span></span>
    <span id="cb9-3"><a href="#cb9-3" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre></div>
{% endblock content %}
