{% extends "template.html" %}
{% block content %}
    <h1>WgMeshAPI Admin Registration</h1>
    <p>WgMeshAPI has detected that there are currently no accounts registered. Please fill in the account details below to create an account.</p>
    <form action="/" method="POST">
      <label for="username"><b>Username</b></label>
      <input type="text" name="username" id="username" placeholder="Enter a username..." required>
      <label for="password"><b>Password</b></label>
      <input type="password" name="password" id="password" placeholder="Enter a password..." required>
      <button type="submit">Register</button>
    </form>
{% endblock content %}
